span {
  width: 100%;
}

.thumbnail-loader {
  width: 100%;
  min-height: 20vh;
  margin-bottom: 15px;
}

.thumbnail {
  max-height: 400px;
  max-width: 350px;
  min-height: 400px;
  min-width: 350px;
}

.thumbnail:hover {
  cursor: pointer;
}
