<form class="upload-form" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center">
  <app-image-upload class="image-upload" #imageUpload></app-image-upload>
  <div class="button-group" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="40px">
    Contrast: {{ this.contrastLevel }}
    <mat-slider (change)="updateContrastLevel($event)"
                min="-200" max="200" step="1" [value]="this.contrastLevel"
                tickInterval="auto"></mat-slider>
    <button class="convert-button"
            (click)="postImage(imageUpload.file); displayComponent.markAsProcessed()">Convert
    </button>
  </div>
  <app-image-display #displayComponent [sourceURL]="this.convertedURL"></app-image-display>
</form>
